# Global wildcards to ignore
*.pyc
*.pyd
*.pdb
.waf-*
.waf3-*
.lock-waf*
wingdbstub.py*
mydbstub.py*

.idea
.cache
.vagrant
.vscode

/build
/tmp
/dist
/license
/LICENSE.txt
/*.egg-info
/REV.txt
/.idea

/bin/sip-*
/bin/waf-*
/bin/waf3-*
/bin/doxygen-*

/docs/html
/docs/sphinx/*.txt
/docs/sphinx/*.rst
/docs/sphinx/*.pkl
/docs/sphinx/*.inc
/docs/sphinx/*.lst
/docs/sphinx/_static/images/inheritance/*_inheritance.*
/docs/sphinx/_templates/gallery.html
/docs/sphinx/rest_substitutions/snippets/cpp/*.cpp
/docs/sphinx/build


/sip/cpp/sip.signature
/sip/cpp/*.sbf
/sip/cpp/*.h
/sip/cpp/*.cpp
/sip/cpp-*
/sip/gen/*.sip
/sip/siplib/.update

/wx/*.py
/wx/*.pyc
/wx/*.pi
/wx/*.pyi
/wx/*.so
/wx/*.pyd
/wx/*.dylib
/wx/libwx_*
/wx/locale
/wx/*.dll

/unittests/lib_pubsub_provider_actual.py

ubuntu-xenial-16.04-cloudimg-console.log
ubuntu-bionic-18.04-cloudimg-console.log
.pytest_cache

/samples/doodle/build
/samples/doodle/dist
samples/embedded/embedded
samples/embedded/embedded.o
