# Global wildcards to ignore
*.pyc
*.pyd
*.pdb
*.dll
.waf-*
.waf3-*
.lock-waf*


# /
/.hg
/.hgignore
/build
/build_waf
/tmp
/dist
/license
/*.egg-info

# /bin/
/bin/sip-*
/bin/waf-*
/bin/waf3-*
/bin/doxygen-*

# /docs/sphinx/
/docs/html
/docs/sphinx/*.txt
/docs/sphinx/*.pkl
/docs/sphinx/*.inc
/docs/sphinx/*.lst
/docs/sphinx/_static/images/inheritance/*_inheritance.*
/docs/sphinx/_templates/gallery.html
/docs/sphinx/rest_substitutions/snippets/cpp/*.cpp
/docs/sphinx/build


# /sip/cpp/
/sip/cpp/sip.signature
/sip/cpp/*.sbf
/sip/cpp/*.h
/sip/cpp/*.cpp

# /sip/gen/
/sip/gen/*.sip

# /sip/siplib/
/sip/siplib/.update

# /wx/
/wx/*.py
/wx/*.pyc
/wx/*.pi
/wx/*.so
/wx/*.pyd
/wx/*.dylib
/wx/libwx_*
/wx/locale
