#
# Although we don't use this template to make source distributions, it is
# still an easy way to specify what data files (non *.py files) should be,
# or should not be included in the package dirs.
#
# See cmd_sdist() in build.py for the actual building of the source dist.
#

recursive-include   wx  **
recursive-include   wx/locale **
recursive-include   wx/include **
recursive-include   license  *.txt
include             LICENSE.txt
graft               docs
prune               docs/sphinx/build

recursive-exclude   wx  .git
recursive-exclude   wx  *.pyc
recursive-exclude   wx  __pycache__

exclude             wx/svg/*.c 
exclude             wx/svg/*.pyx 
exclude             wx/svg/*.pxd
