
.pretty-table {
	font-family: verdana,arial,sans-serif;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.pretty-table th {
	background:#b5cfd2 url('../images/sphinxdocs/cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
      vertical-align: middle;
	border-style: solid;
	border-color: #999999;
}
.pretty-table td {
	background:#dcddc0 url('../images/sphinxdocs/cell-grey.jpg');
	border-width: 1px;
	padding: 3px;
      vertical-align: middle;
	border-style: solid;
	border-color: #999999;
}

.pretty-table caption
{
  caption-side: bottom;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.pretty-table tr:hover th, .pretty-table tr:hover td
{
  background-color: #632a2a;
  color: #0000ff;
  background:#b5cfd2 url('../images/sphinxdocs/orange_gradient.png');
}

.pretty-table tr:hover th[class=head]
{
  background:#b5cfd2 url('../images/sphinxdocs/cell-blue.jpg');
  color:#0066CC;
}

.pretty-table tr:hover tt, .pretty-table tr:hover tt
{
  background-color: #632a2a;
  background:#b5cfd2 url('../images/sphinxdocs/orange_gradient.png');
}

.pretty-table td tt
{
  background: #E0E0E0 url('../images/sphinxdocs/cell-grey.jpg');
}

.centertable
{
    margin-bottom: 2em;
}

.centertable th.head
{
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid black;
    padding-right: .5em;
}

.centertable th.field-name
{
    font-weight: bold;
    text-align: left;
    padding-right: 1em;
}

.centertable th {
    background-color: #ede;
}

.centertable td {
    vertical-align: middle;
}
